api_rest/.env
api_rest/vendor/*
api_rest/.phpdoc
pwa2/*
pwa/node_modules/*

api_rest/storage/app/dog_picture/*
!api_rest/storage/app/dog_picture/fYPxlcOc.jpeg
api_rest/storage/app/conditions_registration/*
!api_rest/storage/app/conditions_registration/mASE47FP.pdf
api_rest/storage/app/pdf/*
!api_rest/storage/app/pdf/V9CUouI8.pdf
api_rest/storage/app/graphical_note/*
!api_rest/storage/app/graphical_note/JQ5LD72g.png