RewriteEngine On
 
RewriteRule ^public/users/([0-9a-zA-Z_-]*)$ public/users/index.php/$1 [NC,L]
RewriteRule ^public/dogs/([0-9a-zA-Z_-]*)$ public/dogs/index.php/$1 [NC,L]
RewriteRule ^public/documents/([0-9a-zA-Z_-]*)$ public/documents/index.php/$1 [NC,L]
RewriteRule ^public/dogs/downloadPicture/([0-9a-zA-Z_-]*)$ public/dogs/downloadPicture/index.php/$1 [NC,L]
RewriteRule ^public/documents/downloadDocument/([0-9a-zA-Z_-]*)$ public/documents/downloadDocument/index.php/$1 [NC,L]