#app {
    padding-top: 90px;
}

@media screen and (max-width:767px) {
    .fc-toolbar.fc-header-toolbar {
        font-size: 50%
    }
    .fc-col-header-cell.fc-day {
        font-size: 60%
    }
}

.fc-event-main-frame {
    visibility: hidden;
}