RewriteEngine On
 
RewriteRule ^public/v1/users/([0-9a-zA-Z_-]*)$ public/v1/users/index.php/$1 [NC,L]
RewriteRule ^public/v1/dogs/([0-9a-zA-Z_-]*)$ public/v1/dogs/index.php/$1 [NC,L]
RewriteRule ^public/v1/documents/([0-9a-zA-Z_-]*)$ public/v1/documents/index.php/$1 [NC,L]
RewriteRule ^public/v1/dogs/downloadPicture/([0-9a-zA-Z_-]*)$ public/v1/dogs/downloadPicture/index.php/$1 [NC,L]
RewriteRule ^public/v1/documents/downloadDocument/([0-9a-zA-Z_-]*)$ public/v1/documents/downloadDocument/index.php/$1 [NC,L]
RewriteRule ^public/v1/absences/([0-9a-zA-Z_-]*)$ public/v1/absences/index.php/$1 [NC,L]
RewriteRule ^public/v1/weeklySchedules/([0-9a-zA-Z_-]*)$ public/v1/weeklySchedules/index.php/$1 [NC,L]
RewriteRule ^public/v1/scheduleOverrides/([0-9a-zA-Z_-]*)$ public/v1/scheduleOverrides/index.php/$1 [NC,L]
RewriteRule ^public/v1/timeSlots/([0-9a-zA-Z_-]*)$ public/v1/timeSlots/index.php/$1 [NC,L]
RewriteRule ^public/v1/appointments/([0-9a-zA-Z_-]*)$ public/v1/appointments/index.php/$1 [NC,L]
RewriteRule ^public/v1/appointments/downloadNoteGraphical/([0-9a-zA-Z_-]*)$ public/v1/appointments/downloadNoteGraphical/index.php/$1 [NC,L]
RewriteRule ^public/v1/plannings/([0-9a-zA-Z_-]*)$ public/v1/plannings/index.php/$1 [NC,L]
